.section {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section.active {
    display: flex;
    animation: active 1s ease-in;
}

/* Title */

.title h1 {
    font-size: 48px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.title button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.title button:hover,
.title button:active {
    scale: 1.1;
}

/* Game mode */

.game-mode {
    gap: 8rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.game-mode form {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.game-mode .x,
.game-mode .o {
    display: flex;
    flex-direction: column;
}

.game-mode label[for="x"],
.game-mode label[for="o"] {
    font-size: 48px;
    line-height: 30px;
}

.game-mode input[type="text"] {
    width: 325px;
    height: 50px;
    border: none;
    background-color: inherit;
    font-size: 24px;
    outline: none;
    padding: 0;
    padding-left: 1rem;
}

.game-mode .text-input {
    position: relative;
    display: inline-block;
    width: 330px;
}

.game-mode .text-input::after {
    content: '';
    display: block;
    position: absolute;
    top: 75%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 19px;
    background: url("../images/text-border-bottom.svg");
    background-size: cover;
}

.game-mode input[type="text"]::placeholder {
    color: var(--primary);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.game-mode .text-input:has(input:disabled)::after, input[type="text"]:disabled {
   opacity: 0.5;
}

.game-mode ul {
    margin-top: 1rem;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.game-mode input[type="radio"] {
    display: none;
}

.game-mode ul label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 24px;
    width: 145px;
}

.game-mode ul label::after {
    content: '';
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    width: 0;
    height: 19px;
    background: url("../images/radio-border-bottom.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 150ms ease;
}

.game-mode input[type="radio"]:checked+label::after {
    width: 100%;
}

.game-mode button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.game-mode button:hover {
    scale: 1.1;
}

/* Game */

.game .x-player,
.game .o-player {
    display: flex;
    width: 360px;
    justify-content: space-between;
    font-size: 40px;
    padding: 1rem;
}

.game .board {
    width: 360px;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url("../images/board.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Modal */

.modal {
    padding: 0;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 360px;
    height: 320px;
    background-color: var(--background);
    font-size: 40px;
}

.modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.69);
}

.modal .buttons {
    display: flex;
}

.modal button {
    border: none;
    background-color: inherit;
    width: 160px;
}

/* Animation */

@keyframes active {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: flex;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}